In [18]:
import pandas as pd
import pandera as pa
import numpy as np

In [19]:
df = pd.read_csv("Oregon Hwy 26 Crash Data for 2019 - Crashes on Hwy 26 during 2019.csv")
df.head(10)

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
0,1809119,1,NaN,NaN,NaN,NaN,NaN,99992.0,3.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1809119,2,3409578.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1809119,3,3409578.0,3887884.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1809119,2,3409579.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1809119,3,3409579.0,3887885.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,9.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN
5,1809229,1,NaN,NaN,NaN,NaN,NaN,2405.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1809229,2,3409765.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1809229,3,3409765.0,3888073.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,1809229,3,0.0,3888074.0,2.0,NaN,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
9,1809637,1,NaN,NaN,NaN,NaN,NaN,1811.0,5.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
crashdf = df[(df['Record Type'] == 1)]
crashdf = crashdf.dropna(axis=1, how = 'all')
if crashdf.shape[0] == crashdf['Crash ID'].unique().shape[0]:
    print("all unique crashids-Validated")
print(crashdf.shape)
crashdf.drop_duplicates(keep=False,inplace=True)    
print(crashdf.shape)
# print(crashdf['Crash Year'])

all unique crashids-Validated
(508, 93)
(508, 93)

In [66]:
from collections import Counter
dayArray = []
montharray = []
weekarray = []
for row in range(len(crashdf)):
    year = int(crashdf['Crash Year'].iloc[row])
    month = int(crashdf['Crash Month'].iloc[row])
    day = int(crashdf['Crash Day'].iloc[row])
    weekday = int(crashdf['Week Day Code'].iloc[row])
    weekarray.append(weekday)
    montharray.append(month)
    dayArray.append(day)
    
dayCounter = Counter(dayArray)
monthcounter = Counter(montharray)
weekdaycounter = Counter(weekarray)
print("Months most crashes occured", monthcounter.most_common(5)[0][0])
print("Days many crashes occured", dayCounter.most_common(5))
print("Week day most crashes occured", weekdaycounter.most_common(2))

Months most crashes occured 3
Days many crashes occured [(18, 26), (12, 24), (9, 24), (8, 23), (19, 22)]
Week day most crashes occured [(7, 83), (6, 77)]

In [67]:
crashTypeArray = []
for row in range(len(crashdf)):
    crashType = int(crashdf['Crash Type'].iloc[row])
    crashTypeArray.append(crashType)
crashtypeCounter = Counter(crashTypeArray)
print("Most common carsh types", crashtypeCounter.most_common(2))

Most common carsh types [(4, 417), (5, 84)]

In [21]:
vehicledf = df[(df['Record Type'] == 2)]
vehicledf = vehicledf.dropna(axis=1, how = 'all')
vehicledf[vehicledf == ' '] = 0
vehicledf.head(10)

,Crash ID,Record Type,Vehicle ID,Vehicle Coded Seq#,Total Count of Persons Involved,Total Persons Using Safety Equipment,Total Persons Not Using Safety Equipment,Total Persons Safety Equipment Use Unknown,Vehicle Ownership Code,Vehicle Special Use Code,...,Vehicle Action Code,Vehicle Cause 1 Code,Vehicle Cause 2 Code,Vehicle Cause 3 Code,Vehicle Event 1 Code,Vehicle Event 2 Code,Vehicle Event 3 Code,Vehicle Exceeded Posted Speed Flag,Vehicle Hit & Run Flag,Safety Equipment Used Quantity
1,1809119,2,3409578.0,1.0,1.0,0.0,9.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,1809119,2,3409579.0,2.0,1.0,0.0,1.0,0.0,0.0,3.0,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,1.0,2.0,0.0
6,1809229,2,3409765.0,1.0,1.0,0.0,4.0,0.0,1.0,1.0,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,1.0
10,1809637,2,3410470.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,62.0,10.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0,1.0
13,1810874,2,3412622.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,1.0
17,1812266,2,3415030.0,1.0,9.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,1.0
19,1812266,2,3415031.0,2.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,2.0,0.0,0.0,2.0,0.0
22,1812266,2,3415032.0,3.0,9.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0
24,1812266,2,3415033.0,4.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0
27,1815964,2,3421313.0,1.0,9.0,0.0,1.0,0.0,0.0,3.0,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,1.0

In [32]:
participantsdf = df[(df['Record Type'] == 3)]
participantsdf = participantsdf.dropna(axis=1, how = 'all')
# participantsdf.head(10)
participantsdf.shape
# print(participantsdf)

(1216, 33)

In [43]:
for row in range(len(participantsdf)):
    if participantsdf['Vehicle ID'].iloc[row] == 0.0:
        if participantsdf['Injury Severity'].iloc[row] == 7.0:
            print("invalid data")

Injury Severity value 7.0
invalid data

In [42]:
count = 0
for row in range(len(crashdf)):
    if crashdf['Crash Year'].iloc[row] != 2019.0:
        count += 1
print("count of crashes with no date", count)

count of crashes with no date 0

In [46]:
for row in range(len(participantsdf)):
    if participantsdf['Vehicle ID'].iloc[row] == 0.0:
        print("person died prior to crash", participantsdf['Participant ID'].iloc[row])
        if not participantsdf['Crash ID'].iloc[row]:
            print("invalid data")

person died prior to crash 3888074.0
person died prior to crash 3890873.0
person died prior to crash 3917895.0
person died prior to crash 3917896.0
person died prior to crash 3917897.0
person died prior to crash 3920554.0
person died prior to crash 3934436.0
person died prior to crash 3948382.0
person died prior to crash 3950096.0
person died prior to crash 3950097.0
person died prior to crash 3950705.0
person died prior to crash 3952798.0
person died prior to crash 3952799.0
person died prior to crash 3956990.0
person died prior to crash 3964941.0
person died prior to crash 3973419.0
person died prior to crash 3974799.0
person died prior to crash 3975837.0
person died prior to crash 3977088.0
person died prior to crash 3977372.0
person died prior to crash 3977520.0
person died prior to crash 3979355.0
person died prior to crash 3979695.0
person died prior to crash 3980498.0